@page "/brokers/fyers/credentials"
@using NaniTrader.Localization
@inherits NaniTraderComponentBase
@inject AbpBlazorMessageLocalizerHelper<NaniTraderResource> LH
@inject IFyersCredentialsAppService FyersCredentialsAppService
@inject NavigationManager NavigationManager

<Card>
    <CardBody>
        <Form>
            <Field>
                <FieldLabel>@L["AppId"]</FieldLabel>
                <Text>@FyersCredentials.AppId</Text>
            </Field>
            <Field>
                <FieldLabel>@L["SecretId"]</FieldLabel>
                <Text>@FyersCredentials.SecretId</Text>
            </Field>
            <Field>
                <FieldLabel>@L["TokenExpiration"]</FieldLabel>
                <Text>@FyersCredentials.TokenExpiration</Text>
            </Field>
            <Field>
                <FieldLabel>@L["RedirectUri"]</FieldLabel>
                <Text>@FyersCredentials.RedirectUri</Text>
            </Field>
        </Form>
        <Button Color="Color.Primary" Clicked="() => GenerateFyersTokenAsync()">Generate Token</Button>
    </CardBody>
</Card>