@page "/brokers/fyers/credentials"
@using NaniTrader.Localization
@inherits NaniTraderComponentBase
@inject AbpBlazorMessageLocalizerHelper<NaniTraderResource> LH
@inject IFyersCredentialsAppService FyersCredentialsAppService
@inject NavigationManager NavigationManager

<Card>
    <CardHeader>
        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <h2>@L["FyersCredentials"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.Is6">
                <Button Color="Color.Primary"
                        Clicked="OpenCreateFyersCredentialsModal">
                    @L["NewFyersCredentials"]
                </Button>

                <Button Color="Color.Primary"
                        Clicked="OpenEditFyersCredentialsModal">
                    @L["EditFyersCredentials"]
                </Button>

                <Button Color="Color.Primary"
                        Clicked="DeleteFyersCredentialsAsync">
                    @L["DeleteFyersCredentials"]
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <Form>
            <Field>
                <FieldLabel>@L["AppId"]</FieldLabel>
                <Text>@FyersCredentials.AppId</Text>
            </Field>
            <Field>
                <FieldLabel>@L["SecretId"]</FieldLabel>
                <Text>@FyersCredentials.SecretId</Text>
            </Field>
            <Field>
                <FieldLabel>@L["Token"]</FieldLabel>
                <Text>@FyersCredentials.Token</Text>
            </Field>
            <Field>
                <FieldLabel>@L["TokenExpiration"]</FieldLabel>
                <Text>@FyersCredentials.TokenExpiration</Text>
            </Field>
            <Field>
                <FieldLabel>@L["UserId"]</FieldLabel>
                <Text>@FyersCredentials.UserId</Text>
            </Field>
            <Field>
                <FieldLabel>@L["RedirectUri"]</FieldLabel>
                <Text>@FyersCredentials.RedirectUri</Text>
            </Field>
        </Form>
        <Button Color="Color.Primary" Clicked="() => GenerateFyersTokenAsync()">Generate Token</Button>
    </CardBody>
</Card>

<Modal @ref="CreateFyersCredentialsModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["NewFyersCredentials"]</ModalTitle>
                <CloseButton Clicked="CloseCreateFyersCredentialsModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewFyersCredentials" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["AppId"]</FieldLabel>
                            <TextEdit @bind-Text="@NewFyersCredentials.AppId">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["SecretId"]</FieldLabel>
                            <TextEdit @bind-Text="@NewFyersCredentials.SecretId">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateFyersCredentialsModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateFyersCredentialsAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="EditFyersCredentialsModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingFyersCredentials.SecretId</ModalTitle>
                <CloseButton Clicked="CloseEditFyersCredentialsModal" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingFyersCredentials" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["SecretId"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingFyersCredentials.SecretId">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditFyersCredentialsModal">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateFyersCredentialsAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>