@page "/brokers/fyers/optionchain"
@using NaniTrader.Localization
@inherits NaniTraderComponentBase
@inject AbpBlazorMessageLocalizerHelper<NaniTraderResource> LH
@inject IFyersRawSymbolAppService FyersRawSymbolAppService
@inject NavigationManager NavigationManager

<Card>
    <CardHeader>
        <Row>
            <Column ColumnSize="ColumnSize.Is3">
                <h2>@L["Option Chain"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.Is3">
                <Paragraph Alignment="TextAlignment.Right">
                    <Field>
                        <FieldLabel>@L["Underlying"]</FieldLabel>
                        <Select TValue="string" SelectedValue="@UnderlyingSelectedValue" SelectedValueChanged="@OnUnderlyingSelectedValueChangedAsync">
                            @foreach (string underlyingSymbol in UnderlyingSymbols)
                            {
                                <SelectItem TValue="string" Value="@underlyingSymbol">
                                    @underlyingSymbol
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                </Paragraph>
            </Column>
            <Column ColumnSize="ColumnSize.Is3">
                <Paragraph Alignment="TextAlignment.Right">
                    <Field>
                        <FieldLabel>@L["ExpiryDateRange"]</FieldLabel>
                        <Select TValue="string" SelectedValue="@ExpiryDateSelectedValue" SelectedValueChanged="@OnExpiryDateSelectedValueChangedAsync">
                            @foreach (string selectedUnderlyingExpiryDate in UnderlyingSymbolExpiryDates)
                            {
                                <SelectItem TValue="string" Value="@selectedUnderlyingExpiryDate">
                                    @selectedUnderlyingExpiryDate
                                </SelectItem>
                            }
                        </Select>
                        <FieldLabel>@L["From"]</FieldLabel>
                        <Tooltip Text="Hello tooltip" Placement="TooltipPlacement.TopStart">
                            <Slider TValue="decimal" Value="25m" Step="5" Max="100m" />
                        </Tooltip>

                        <FieldLabel>@L["To"]</FieldLabel>
                        <Tooltip Text="Hello tooltip" Placement="TooltipPlacement.BottomEnd">
                            <Slider TValue="decimal" Value="55m" Step="5" Max="100m" />
                        </Tooltip>
                    </Field>
                </Paragraph>
            </Column>
            <Column ColumnSize="ColumnSize.Is3">
                <Paragraph Alignment="TextAlignment.Right">
                    <Field>
                        <FieldLabel>@L["Strike"]</FieldLabel>
                        <Select TValue="string" SelectedValue="@StrikeSelectedValue" SelectedValueChanged="@OnStrikeSelectedValueChangedAsync">
                            @foreach (string selectedUnderlyingStrike in UnderlyingSymbolStrikes)
                            {
                                <SelectItem TValue="string" Value="@selectedUnderlyingStrike">
                                    @selectedUnderlyingStrike
                                </SelectItem>
                            }
                        </Select>
                        <FieldLabel>@L["From"]</FieldLabel>
                        <Tooltip Text="Hello tooltip" Placement="TooltipPlacement.TopStart">
                            <Slider TValue="decimal" Value="25m" Step="5" Max="100m" />
                        </Tooltip>
                        
                        <FieldLabel>@L["To"]</FieldLabel>
                        <Tooltip Text="Hello tooltip" Placement="TooltipPlacement.BottomEnd">
                            <Slider TValue="decimal" Value="55m" Step="5" Max="100m" />
                        </Tooltip>
                    </Field>
                </Paragraph>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="FyersRawSymbolStrikeDto"
                  Data="FyersRawSymbolStrikeList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn TItem="FyersRawSymbolStrikeDto"
                                Field="@nameof(FyersRawSymbolStrikeDto.PEPrice)"
                                Caption="@L["PEPrice"]"></DataGridColumn>
                <DataGridColumn TItem="FyersRawSymbolStrikeDto"
                                Field="@nameof(FyersRawSymbolStrikeDto.PESymbol)"
                                Caption="@L["PESymbol"]"></DataGridColumn>
                <DataGridColumn TItem="FyersRawSymbolStrikeDto"
                                Field="@nameof(FyersRawSymbolStrikeDto.StrikePrice)"
                                Caption="@L["StrikePrice"]">
                </DataGridColumn>
                <DataGridColumn TItem="FyersRawSymbolStrikeDto"
                                Field="@nameof(FyersRawSymbolStrikeDto.CESymbol)"
                                Caption="@L["CESymbol"]"></DataGridColumn>
                <DataGridColumn TItem="FyersRawSymbolStrikeDto"
                                Field="@nameof(FyersRawSymbolStrikeDto.CEPrice)"
                                Caption="@L["CEPrice"]"></DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>